/*Profile Picture Positioning*/
.profile-pic {
  position: relative;
  max-width: 130px;
  max-height: 130px;
  width: auto;
  height: auto;
  overflow: hidden;

  margin: -31px;
  margin-left: -7px;
  border: 6px solid rgba(3, 13, 141, 1);
  border-radius: 50% !important;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.tracker {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Main Body CSS */
body {
  color: #333;
  font-size: 18px;
}

/*Main Navigation Bar*/
nav {
  background-color: white;
  box-shadow: none;
  height: 0;
}

nav i {
  padding: 0 15px;
  position: relative;
  top: 5px;
}

/* Navigation Class 1 */
ul.table-of-contents li.logo a.active,
ul.table-of-contents li.logo a:hover {
  border: none;
  font-weight: 200;
}

ul.table-of-contents li:not(.logo) a.active,
ul.table-of-contents li:not(.logo) a:hover {
  background-color: white;
  border-left: 3px solid;
}

ul.side-nav.fixed.table-of-contents li:not(.logo) a span,
ul#sideout li:not(.logo) a span {
  color: #333 !important;
}

/* Changing the font of the nav bar */
li.logo span {
  display: block;
  font-size: 14px;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, 0.2);
}

/* Used to change the color of Priyanshu Mishra Software Developer in minimized version */
.teal-text {
  color: #008073 !important;
}

/*Navigation class 2 and 3 | side-nav */

ul.side-nav {
  width: 190px;
}

ul.side-nav li {
  padding: 0;
}

/* Change the size of the nav bar (word overlapping problem solved) */
ul.side-nav.fixed a {
  box-sizing: content-box;
  color: rgb(16, 202, 56);
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
}

ul.side-nav.fixed li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 30px 40px;
}

ul.side-nav.fixed li.logo a {
  font-weight: 200;
  line-height: 100%;
}

ul.side-nav.fixed.table-of-contents li:not(.logo) a span,
ul#slide-out li:not(.logo) a span {
  color: #333 !important;
}

/* Main Section Tag */

/* main tag | Used to format the words correctly */
main {
  background: url(Img/bg.png) repeat;
  padding-left: 190px;
}

/* First Section | the first page */
/* Class | section */
.section {
  padding-bottom: 30px;
  padding-top: 0;
  position: relative;
}

/* id | intro (Change the background color of the main section)*/
#intro.section {
  background: #a7ffeb repeat;
  /* Change the background color of main page */
  position: relative;
}

/* class | container (also working) */
#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}

#intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

/* class | full-height */
.full-height {
  height: 100vh;
}

/* class | overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  /* change the black consituent in the main page */
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* class | container */
.container {
  width: 95%;
}

/* class | teal (used for highlighting Priyanshu Mishra*/
.teal {
  background-color: #008073 !important;
}

/* Section | about me (Heading Section) */
h3 {
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: capitalize;
}

/* class | social (in the first section tag) */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
}

/* class | .icon-btn */
.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
  /* margin-top: 1em; */
}

.icon-btn:hover {
  transform: scale(1.1);
  color: white;
}

/* Linkedin color */
.linkedin {
  color: #0077b5;
}

/* Linkedin Hover Background color */
.linkedin:hover {
  background-color: #0077b5;
}

/* Github color */
.github {
  color: black;
}

/* Github hover | backgroud color */
.github:hover {
  background-color: black;
}

/* Email Button */
.email {
  color: #fd5c63;
}

/* Email hover | backgroud color */
.email:hover {
  color: red;
}

/* Buttons - Readme and contact us */
/* readme Section */
.readme {
  position: relative;
  padding: 11px 35px;
  background: #fff;
  color: #00796b;
  border: 1px solid white;
  /* change in the border of the button */
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 1.5rem;
}

.readme:hover {
  color: white;
  background-color: #00796b;
}

/* contactme Section | will add in the next version*/
/* 
.contactme {
  position: relative;
  padding: 11px 35px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contactme:hover {
  color: #00796b;
  background-color: white;
} */

/* Used of Grid | about Section */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50% 50%;
  margin-inline: auto;
}

.testimonial {
  font-size: var(--fs-400);
  padding-left: 1rem;
  padding-right: 0.25rem;
  /* border-radius: 0.5rem; */
}

.nev-pad {
  padding-left: 0rem;
}

/* Creating box with shadows in the gri | Section : about */
.box {
  background: lightblue;
  position: relative;
  border-radius: 25px;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  top: 95%;
  bottom: 1%;
  border-radius: 10px;
}

.box::before {
  background: blue;
  left: 5px;
  right: 45px;
}

.box::after {
  background: darkblue;
  left: 45px;
  right: 5px;
}

/* Section: Skills */
/* id: skills (CSS Used) */
#skills .card.large {
  height: 360px;
}

#skills h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#skills .col img.responsive-img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* class: text-center (Center the text in the languages and databases section) */
.text-center {
  text-align: center;
}

/* Class: card for represent the skills in card shapes */
.card {
  margin-bottom: 60px;
}

.card .role {
  font-size: 1.25rem;
  position: absolute;
  right: 38px;
  top: 35px;
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  line-height: 200%;
  list-style-type: disc;
  margin-left: 24px;
}

.card ul li li {
  color: #666;
  font-size: 13px;
}

.card li a {
  margin-right: 0;
  color: #333;
  border-bottom: 2px solid #ffab40;
}

.card li a:hover {
  color: #333;
  font-weight: 500;
}

.card .card-content {
  padding-bottom: 30px;
}

.card .card-content p {
  padding: 5px 0 0;
}

.card .card-content .card-title {
  line-height: 2.5rem;
}

.card.large .card-content p {
  color: inherit;
  margin: 0;
  padding: 30px 0;
}

.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}

.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}

#experience .card-action {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}

#experience .card .col.s12.m2 a {
  display: block;
}

#experience .card .col.s12.m2 a img {
  max-height: 60px;
}

.card-action span {
  font-size: 85%;
  color: #666;
}

.card .card-title {
  font-size: 24px;
}

.card i.right {
  margin-left: 10px;
}

#experience .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card.large .card-image {
  height: 230px;
}

.card.large .card-content {
  height: auto;
}

.card.medium .card-image {
  height: 240px;
}

.card-action a.btn-floating {
  margin-bottom: 0;
}

/* Section: Experience */
/* class: exp-section */

/* Flexbox: used in class: exp-cards and exp-card in  */
@media screen and  (min-width: 40em) {
  .exp-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2em;

  }

  .exp-card {
    display: flex;
    flex: 0 1 calc(100% - 0.5em);
    margin-bottom: 1em;
  }
  
}

@media screen and (min-width: 60em) {
  .exp-cards {
    margin-top: inherit;
  }
  .exp-card {
    flex: 0 1 calc(50% - 1em);
    margin-bottom: 2em;
  }
  
}

.exp-card {
  background: #ccf2ff;
  margin-bottom: 2em;
  border-radius: 5px;
  
}


.hover-on {
  color: black;
  text-decoration: none;
}

.hover-on:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
  background-color: #e6f9ff;
  border-radius: 5px;
}

.exp-card-content {
  padding: 1.4em;

}

.exp-card-content h2 {
  margin-top: 10px;
  margin-bottom: 0.5em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  color: #007489;
}

.exp-card-content .exp-role {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  color: brown;
}

.exp-card-content .exp-role a {
  color: brown;
}


.exp-card-content .timeframe {
  font-weight: bold;
  font-style: italic;
}

.exp-card-content p {
  font-size: 80%;
  margin-bottom: 1.5em;
  /* color: #898989; */
}

.exp-card-content ul li {
  list-style-type: disc;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 15px;
  line-height: 30px;

}

/* Section: Projects */
.card.medium .card-image {
  height: 240px;
}

.card i.right {
  margin-left: 10px;
}

.card-content p {
  font-family: sans-serif;
  align-content: justify;
}

.grey-text {
  color: #666 !important;
}

/* paragraph tag in exp-content section || (for the text to be left align) */

/* Section: Education */
/* flexbox in the education */
@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }  

  .edu-content {
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .edu-content {
    flex: 0 1 calc(33% - 1em);
    margin-bottom: 2em;
  }
  
}
/* class: edu-content (for making card in the section) */
.edu-content {
  background: #ccf2ff;
  margin-bottom: 2em;
  border-radius: 10px;
}

.edu-content article {
  color: black;
  text-decoration: none;
}

.edu-content article:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
  border-radius: 10px;
  background-color: #e6f9ff;
}

/* class: card-content (for creating content in the box) */
.card-content {
  padding: 1.4em;
}

/* paragraph tag in card-content section || (for the text to be left align) */
.card-content p {
  font-size: 80%;
  font-family: sans-serif;
}

.card-content p {
  margin-bottom: 1.5em;
}
/* parapraph tag in education section */
.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: brown;
}

.card-content h2 {
  clear: both;
  font-family: 'Patua One', sans-serif;
  letter-spacing: 2px;  
}

.card-content h2 {
  font-size: 1rem;
  color: #007489;
}
/* class: max-width of the card */
/* .max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.max-width {
  max-width: 930px;
  padding: 0 20px;
}
.max-width {
  padding: 0 23px;
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
} */

/* class : serv-content */

/* .services .serv-content .card-edu:hover {
  --color: #0F00FF;
} */

/* .services .serv-content .card-edu {
  width: 100%;
} */

/* class: hoverline (in title of the cards) */
/* in tag: a */
a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

a.hoverline:hover {
  border-bottom: 3px solid #004d40 !important;
}

/* class: card-edu || ul: tag */
.alignment ul {
  margin-bottom: 0;
}

.alignment ul li {
  line-height: 100%;
  list-style-type: disc;
  margin-left: 20px;
  font-family: sans-serif;
}



/* @media | class */
@media (min-width: 1200px) {
  #experience .container {
    margin-top: 10px;
  }
}

@media (max-width: 1360px) {
  .card ul li {
    font-size: 14px;
    line-height: 200%;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }

  ul.side-nav a {
    line-height: 100%;
    padding: 0;
    width: 100%;
  }

  nav {
    background: #fff;
    height: 64px;
    position: absolute;
  }

  nav a.button-collapse,
  nav a.button-collapse i {
    color: #009688;
    height: 56px;
    line-height: 56px;
  }

  h3 {
    padding: 20px 30px;
    margin-bottom: 40px;
  }

  .container {
    margin: 0 auto;
  }

  /* Navigation tag hide-on-large | Nav class 2 and 3 */
  nav.hide-on-large.only.trigger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  /* Navigation Class 2 */

  .name-title {
    display: block;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
  }

  .name-title > span,
  .name-title > a {
    position: relative;
    line-height: 20px;
  }

  .name-title a {
    font-size: 22px;
    display: block;
  }

  .name-title span {
    display: block;
    font-size: 14px;
  }

  h3,
  .container {
    position: relative;
    top: 64px;
  }

  section#intro {
    margin-bottom: -64px;
  }

  .card .role {
    position: relative;
    right: initial;
    top: initial;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 22px;
    line-height: 200%;
    margin: 30px 0 0;
  }

  #intro.section .container *:not(span) {
    padding: 0;
  }

  .card .card-content .card-title {
    font-size: 20px;
    line-height: 24px;
  }

  #experience span.card-title {
    text-align: center;
    display: block;
  }

  #experience span.card-title a {
    margin: 0;
  }

  i.mdi-navigation-close.right {
    position: relative;
    bottom: 15px;
  }

  #contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
  }

  #contact a.btn-floating.btn-large {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  #intro.section {
    background-position-x: 30%;
  }
}
